<h1>Cidades</h1>
<h2>${data.name}</h2>
<li for(cidade in data.cidades)>${cidade.nome}/${cidade.estado}</li>
<form action="/cidades" method="POST">
  <input type="text" name="nome" required> <br>
  <input type="text" name="estado" required> <br>
  <input type="submit" value="Submit">
</form>
<a href="/arbitros">arbitros</a> <br>
<a href="/times">times</a>
