<h1>Cidades</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Estado</th>
  </tr>
  <tr for(cidade in data.cidades)>
    <td>${cidade.nome}</td>
    <td>${cidade.estado}</td>
  </tr>
</table>
<a href="/cidade/new">nova cidade</a> <br>
<a href="/arbitro">arbitros</a> <br>
<a href="/time">times</a>
