<h1>Nova Cidade</h1>
<form action="/cidade/new" method="POST">
  Nome: <input type="text" name="nome" required> <br>
  Estado: <input type="text" name="estado" required> <br>
  <input type="submit" value="Submit">
</form>
<a href="/cidade">voltar</a>
